mat-card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.card {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px; /* Adjust the margin-top value for desired vertical positioning */
    padding: 20px;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.container{
    padding-top: 100px;
}