
<div class="container"> 
    <mat-card class="card">
        <h1>Login</h1>
        <h3> FOSS Job Portal</h3>
      
        <form class="loginform" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
          <mat-form-field>
            <input matInput placeholder="Username" name="username" ngModel required>
        </mat-form-field>
      
          <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" ngModel required>
        </mat-form-field>
      <br>
    
          <button mat-raised-button color="primary">Login</button>
        </form>
      
        <button mat-button color="accent" routerLink="/registration">Register</button>
      </mat-card>
</div>

  



 
