<mat-card>
  <mat-card-header>
    <mat-card-title>Post Job</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="job-form" (submit)="onSubmit()">
      <div class="form-row">
        <div class="column">
          <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" [(ngModel)]="jobData.company_name" name="company_name" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Job Description</mat-label>
            <textarea matInput placeholder="Job Description" [(ngModel)]="jobData.job_description" name="job_description" required></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Skills</mat-label>
            <input matInput placeholder="Skills" [(ngModel)]="jobData.skills" name="skills" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Experience</mat-label>
            <mat-select placeholder="experience" [(ngModel)]="jobData.experience" name="experience" required>
              <mat-option value="0">0</mat-option>

              <mat-option value="1+">1+</mat-option>
              <mat-option value="2+">2+</mat-option>
              <mat-option value="3+">3+</mat-option>

            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field>
            <mat-label>Experience</mat-label>
            <input matInput placeholder="Experience" [(ngModel)]="jobData.experience" name="experience" required>
          </mat-form-field> -->
        </div>
        <div class="column">
          <mat-form-field>
            <mat-label>Job Type</mat-label>
            <mat-select placeholder="Job Type" [(ngModel)]="jobData.job_type" name="job_type" required>
              <mat-option value="Part-time">Part-time</mat-option>
              <mat-option value="Full-time">Full-time</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>POC/Contact </mat-label>
            <input matInput placeholder="Reference" name="reference" [(ngModel)]="jobData.reference_name" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" [(ngModel)]="jobData.email" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Linkedin (company's)</mat-label>
            <input matInput placeholder="Connect" name="connect" [(ngModel)]="jobData.connect" required>
          </mat-form-field>
          <mat-form-field color="accent">
            <mat-label>Expiry Date</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="jobData.expiry">
            <mat-datepicker-toggle matIconSuffix [for]="picker1" ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit">Post Job</button>
    </form>
  </mat-card-content>
</mat-card>
