<h1>Open Human-Resources Network</h1>
<div class="container">
    <mat-form-field appearance="fill">
      <input matInput placeholder="Search" #searchInput (input)="onSearch(searchInput.value)">
    </mat-form-field>
  </div>
<div class="job-details" *ngFor="let job of jobs">
    <mat-card>
        <mat-list>
          <div class="skills-container">
            <button mat-stroked-button disabled class="skills-button">{{ job.skills }}</button>
            <h3 class="company-name"><b>{{ job.company_name }}</b></h3>
          </div>
          
   <br>

   || {{ job.job_description }} ||
          <br>

        </mat-list>

        <mat-list>
            <b>Type:</b>  {{ job.job_type }}   
  
          </mat-list>
          <!-- <mat-list>
            <b>Job  skills:</b>  {{ job.skills }}   
  
          </mat-list> -->
          <mat-list>
            <b>Reference:</b> {{ job.reference_name }}   
  
          </mat-list>
          <mat-list>
            <b>Email:</b>  {{ job.email }}   
  
          </mat-list>
      </mat-card>
      <br>
      <br>
</div>

